# Ignore OS-related files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/
npm-debug.log

# Ignore Go build artifacts
bin/
*.exe
*.out

# Ignore sensitive files
.env
secrets.json

# Ignore Docker artifacts
*.tar
*.tar.gz
.tgz

# Ignore VSCode settings
.vscode/

# Ignore database data
/databases/mongo-data/
